<div class="container-fluid">
    <div class="row">
        <h2 class="text-center">Mapa Vašeho putovního předmětu</h2>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <!-- Přidání mapy -->
            <google-map height="700px" width="100%" [center]="center" [zoom]="7">

                <!-- Přidání pozice na mapu, momentálně jen jedna na ukázku, lze přidat několik pozic najednou -->
                <map-marker *ngFor="let marker of markers"
                [position]="marker.position"
                ></map-marker>
                <map-polyline [options]="polylineOptions" [path]="vertices"></map-polyline>


            </google-map>
        </div>
        <div class="col-lg-1">
          
            
        </div>
    </div>
    
</div>
